.u-center-text {
  text-align: center;
}
.u-bottom-small {
  margin-bottom: 1.5rem;
}
.u-bottom-medium {
  margin-bottom: 4rem;
}

.u-bottom-big {
  margin-bottom: 6rem;
}
.u-top-huge {
  margin-top: 10rem;
}
